@{
    ViewBag.Title = "Авторизация";
}

<div class="container">
    <div class="row">
        <h1>Добро пожаловать</h1>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <form action="" method="post">
                <label>Введите ваш логин:</label><br /><br />
                <input type="text" name="login" value="@ViewBag.Login" /><br /><br />
                <label>Введите ваш пароль</label><br /><br />
                <input type="password" name="password" value="" /><br /><br />
                <label>Введите ваше имя</label>
                <input type="text" name="name" value="" /><br /><br />
                <label>Введите вашу фамилию</label><br /><br />
                <input type="text" name="surname" value="" /><br /><br />
                <label>Введите ваш возраст</label><br /><br />
                <input type="text" name="age" value="" /><br /><br />
                <input type="text" name="group" value="" /><br /><br />
                <input type="text" name="interes" value="" /><br /><br />
                <button type="submit">Принять</button>
            </form>
        </div>
        <div class="col-lg-4">
            Вы ввели @ViewBag.Login и @ViewBag.Password
        </div>

    </div>
</div>